{% extends 'product/base.html' %}
{% load static %}
{% block content %}

<section class="h-100 h-custom" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card">
          <div class="card-body p-4">
            <div class="row">
              <div class="col-lg-7">
                <h5 class="mb-3"><a href="{% url 'home' %}" class="text-body"><i
                      class="fas fa-long-arrow-alt-left me-2"></i>Continue shopping</a></h5>
                <hr>
                <div class="d-flex justify-content-between align-items-center mb-4">
                  <div>
                    <p class="mb-1">Order Summary</p>
                  </div>
                </div>
{#                  Products#}
                  {% for item in products %}

                    <div class="card mb-3">
                  <div class="card-body">
                    <div class="d-flex justify-content-between">
                      <div class="d-flex flex-row align-items-center">
                        <div>
                          <img
                            src="{{ item.product.product.image.url }}"
                            class="img-fluid rounded-3" alt="Shopping item" style="width: 65px;">
                        </div>
                        <div class="ms-3">
                          <h5>{{ item.product.product.name }}</h5>
                          <p class="small mb-0">{{ item.product.product.short_line }}</p>
                        </div>
                      </div>
                      <div class="d-flex flex-row align-items-center">
                        <div style="width: 200px;">
                          <h5 class="fw-normal mb-0">Price: {{ item.product.product.discount_price}}</h5>
                        </div>
                        <div style="width: 50px;">
                          <h5 class="fw-normal mb-0">{{ item.added_quantity }}</h5>
                        </div>
                        <div style="width: 100px;">
                            <h5>Rs. <span class="mb-0" id="p_price{{ forloop.counter }}">{{ item.get_total }}</span></h5>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                  {% endfor %}
              </div>
              <div class="col-lg-5">

                <div class="card bg-primary text-white rounded-3">
                  <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center mb-4">
                      <h5 class="mb-0">Order Details</h5>
                    </div>

                    <form class="mt-4" method="POST">
                        {% csrf_token %}
                      <div class="form-outline form-white mb-4">
                        <label class="form-label" for="typeName">Shipping Address</label>
                        {{ form.address }}
                      </div>
                        <hr class="my-4">

                    <div class="d-flex justify-content-between">
                      <p class="mb-2">Subtotal</p>
                      <span class="mb-2"><input name="total_amount" type="text" id="sub_total" class="form-control" style="background: transparent; color: white;text-align: end; border: none; margin-left: 12px;"/></span>
                    </div>

                    <div class="d-flex justify-content-between">
                      <p class="mb-2">Shipping</p>
                      <p style="margin-left:330px;">Rs. </p><span class="mb-2" id="shipping_tax">20.00</span>
                    </div>

                    <div class="d-flex justify-content-between mb-4">
                      <p class="mb-2">Total(Incl. taxes)</p>
                      <span style="margin-left:245px;">Rs. </span><span class="mb-2" id="sub_total1"></span>
                    </div>

                    <button type="submit" class="btn btn-info btn-block btn-primary" name="COD">
                        <span>Rs. </span><span id="sub_total2"></span>
                        <span style="margin-left: 20px">COD</span>
                    </button>

                    <button type="submit" class="btn btn-info btn-block btn-primary" name="Rozerpay">
                        <span>Rs. </span><span id="sub_total3"></span>
                        <span style="margin-left: 20px">Razorpay</span>
                    </button>
                    </form>



                  </div>
                </div>

              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<footer></footer>
<script>
    var i = 0
    var total_amount = 0
    while (true) {
        i+=1
        var price = 'p_price'+i
        if (document.getElementById(price)){
            total_amount += parseFloat((document.getElementById(price).innerHTML))
        }else{
            break
        }
    }

    if (total_amount<500){
      document.getElementById('shipping_tax').innerText = 50
    }else{
      document.getElementById('shipping_tax').innerText = 0}

    var tax = parseFloat(document.getElementById('shipping_tax').innerText)

    document.getElementById('sub_total').value = total_amount.toFixed(2)
    document.getElementById('sub_total1').innerText = (total_amount + tax).toFixed(2)
    document.getElementById('sub_total2').innerText = (total_amount + tax).toFixed(2)
    document.getElementById('sub_total3').innerText = (total_amount + tax).toFixed(2)

</script>
<script src="{% static 'js/footer.js' %}"></script>
{% endblock content %}