{% extends 'product/base.html' %}
{% load static %}
{% block content %}
{#<div class="container">#}
{#    <div class="ordered_items">#}
{#            {% for item in products %}#}
{#                <div class="box">#}
{#                    <img src="{{ item.product.image.url }}">#}
{#                    <div class="content">#}
{#                        <h3>{{ item.product.name }}</h3>#}
{#                        <h4>Price: Rs. {{ item.product.discount_price }}</h4>#}
{#                        <p class="unit">Quantity: <input name="" value="{{ item.added_quantity }}" disabled></p>#}
{#                        <h4>amount: Rs. <span id="p_price{{ forloop.counter }}">{{ item.get_total }}</span></h4>#}
{#                    </div>#}
{#                </div>#}
{#            {% endfor %}#}
{#    </div>#}

<section class="h-100 h-custom" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card">
          <div class="card-body p-4">
            <div class="row">
              <div class="col-lg-7">
                <h5 class="mb-3"><a href="#!" class="text-body"><i
                      class="fas fa-long-arrow-alt-left me-2"></i>Continue shopping</a></h5>
                <hr>
                <div class="d-flex justify-content-between align-items-center mb-4">
                  <div>
                    <p class="mb-1">Order Summary</p>
                    <p class="mb-0">You have 4 items in your cart</p>
                  </div>
                </div>
{#                  Products#}
                  {% for item in products %}

                    <div class="card mb-3">
                  <div class="card-body">
                    <div class="d-flex justify-content-between">
                      <div class="d-flex flex-row align-items-center">
                        <div>
                          <img
                            src="{{ item.product.image.url }}"
                            class="img-fluid rounded-3" alt="Shopping item" style="width: 65px;">
                        </div>
                        <div class="ms-3">
                          <h5>{{ item.product.name }}</h5>
                          <p class="small mb-0">Short Line ADD</p>
                        </div>
                      </div>
                      <div class="d-flex flex-row align-items-center">
                        <div style="width: 200px;">
                          <h5 class="fw-normal mb-0">Price: {{ item.product.discount_price}}</h5>
                        </div>
                        <div style="width: 50px;">
                          <h5 class="fw-normal mb-0">{{ item.added_quantity }}</h5>
                        </div>
                        <div style="width: 100px;">
                            <h5>Rs. <span class="mb-0" id="p_price{{ forloop.counter }}">{{ item.get_total }}</span></h5>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                  {% endfor %}
              </div>
              <div class="col-lg-5">

                <div class="card bg-primary text-white rounded-3">
                  <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center mb-4">
                      <h5 class="mb-0">Order Details</h5>
                    </div>

                    <form class="mt-4" method="POST">
                        {% csrf_token %}
                      <div class="form-outline form-white mb-4">
                        <label class="form-label" for="typeName">Shipping Address</label>
                        {{ form.address }}
                      </div>

                      <div class="form-outline form-white mb-4">
                          <label class="form-label" for="typeText">Chose Payment Method</label>
                          <div>{{ form.payment_method }}</div>
                      </div>
                        <hr class="my-4">

                    <div class="d-flex justify-content-between">
                      <p class="mb-2">Subtotal</p>
                      <span class="mb-2"><input name="total_amount" type="text" id="sub_total" class="form-control" style="background: transparent; color: white;text-align: end; border: none; margin-left: 12px;"/></span>
                    </div>

                    <div class="d-flex justify-content-between">
                      <p class="mb-2">Shipping</p>
                      <p class="mb-2">Rs. 20.00</p>
                    </div>

                    <div class="d-flex justify-content-between mb-4">
                      <p class="mb-2">Total(Incl. taxes)</p>
                      <p class="mb-2" id="sub_total1"></p>
                    </div>

                    <button type="submit" class="btn btn-info btn-block btn-primary">
                        <span id="sub_total2"></span>
                        <span style="margin-left: 20px">Place Order</span>
                    </button>

                    </form>

                  </div>
                </div>

              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<footer></footer>
<script>
    var i = 0
    var total_amount = 0
    while (true) {
        i+=1
        var price = 'p_price'+i
        if (document.getElementById(price)){
            total_amount += parseFloat((document.getElementById(price).innerHTML))
        }else{
            break
        }
    }

    document.getElementById('sub_total').value = total_amount.toFixed(2)
    document.getElementById('sub_total1').innerText = 'Rs. ' + (total_amount + 20).toFixed(2)
    document.getElementById('sub_total2').innerText = 'Rs. ' + (total_amount + 20).toFixed(2)

</script>
<script src="{% static 'js/footer.js' %}"></script>
{% endblock content %}