{% extends 'product/base.html' %}
{% load static %}
{% block content %}

<div class="info" style="color:black;">
<div class="container" style="text-align:center;">
<h1>Payment Failed</h1>
<h3>Sorry! Your payment has been failed. Please try again.</h3>
<br>
<p class="mainmessage">
In case your money has been deducted, money will be autorefunded in 7-10 days.
</p>
<br>
<p class="mainmessage">Thank You for choosing us. You can contact us for any queries or details.</p>
</div>
</div>

<script src="{% static 'js/footer.js' %}"></script>
{% endblock content %}