{% extends 'product/base.html' %}
{% load static %}

{% block content %}

<section class="product-details">
    <div class="image-slider" style="background-image: url('{{ object.image.url }}');">
        <div class="product-images">
            <img src="{{ object.image.url }}" class="active" alt="">
            <img src="{{ object.image.url }}" alt="">
            <img src="{{ object.image.url }}" alt="">
            <img src="{{ object.image.url }}" alt="">
        </div>
    </div>
    <div class="details">
        <h2 class="product-brand">{{ object.brand }}</h2>
        <p class="product-short-des">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
        {% if object.discount > 0 %}
            <span class="product-price">Rs. {{ object.discount_price }}</span>
            <span class="product-actual-price">Rs. {{ object.price }}</span>
            <span class="product-discount">{{ object.discount }}% off )</span>
        {% else %}
            <span class="product-price">Rs. {{ object.price }}</span>
        {% endif %}

        <p class="product-sub-heading">select size</p>

        <input type="radio" name="size" value="s" checked hidden id="s-size">
        <label for="s-size" class="size-radio-btn check">s</label>
        <input type="radio" name="size" value="m" hidden id="m-size">
        <label for="m-size" class="size-radio-btn">m</label>
        <input type="radio" name="size" value="l" hidden id="l-size">
        <label for="l-size" class="size-radio-btn">l</label>
        <input type="radio" name="size" value="xl" hidden id="xl-size">
        <label for="xl-size" class="size-radio-btn">xl</label>
        <input type="radio" name="size" value="xxl" hidden id="xxl-size">
        <label for="xxl-size" class="size-radio-btn">xxl</label>

        <a href="{% url 'add_to_cart' object.id %}"><button class="btn cart-btn btn-outline-secondary">add to cart</button></a>
        <a href="{% url 'add_to_wishlist' object.id %}"><button class="btn btn-outline-secondary">add to wishlist</button></a>
    </div>
</section>

<section class="detail-des">
    <h2 class="heading">description</h2>
    <p class="des">{{ object.description }}</p>
</section>

<script src="{% static 'js/home.js' %}"></script>
<script src="{% static 'js/product_detail.js' %}"></script>
{% endblock content %}